{% load static %}
<html lang="en">
  <head>
    <title>E-Crypto: Purchase</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/html" href="{% static 'css/base.css' %}" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href='../static/css/base.css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P3H23JBMPZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P3H23JBMPZ');
    </script>

    <!-- cookie-consent-banner -->
    <script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
    <script>
      window.addEventListener("load",function(){
        window.wpcc.init({
          "border":"thin",
          "corners":"normal",
          "colors":{
            "popup":{
              "background":"#cff5ff",
              "text":"#000000",
              "border":"#5e99c2"
            },
            "button":{
              "background":"#5e99c2",
              "text":"#ffffff"
            }
          },
          "position":"bottom",
          "content":{
            "href":"https://www.websitepolicies.com/policies/view/AsI78Q0l"
          }
        })
      });
    </script>
    
  </head>
  <body>
    <div class="box"> 
      <div class="success alert">
        <div class="alert-body">
          <p>Your payment has been successful</p>
          <a href="/">Continue Shopping</a>
        </div>
      </div>
    </div>
  </body>
</html>